@mixin hover-zoom {
    z-index: 20;
    transform: scale(1.2, 1.2);
}

@mixin skew-container {
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    // clip-path: polygon(0 24%, 100% 0%, 100% 71%, 0% 100%);
    clip-path: polygon(0 20vh, 100% 0%, 100% 75ch, 0% 100%);
    margin-top: -20vh;
}